@model IEnumerable<Job_Requests.Models.Department>

@{
	ViewData["Title"] = "Departments";
	var statusStyle = string.Empty;
	var badgeStyle = string.Empty;
}

<div class="d-flex justify-content-between align-items-center">
	<div>
		<h2>@ViewData["Title"]</h2>
	</div>
	<div>
		<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i> Create</a>
		<a asp-action="Print" class="btn btn-outline-primary"><i class="bi bi-printer-fill"></i> Print</a>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr class="table-primary">
			<th>
				@Html.DisplayNameFor(model => model.DepartmentName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DepartmentDescription)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="table-light">
				<td>
					<strong>@Html.DisplayFor(modelItem => item.DepartmentName)</strong>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DepartmentDescription)
				</td>
				<td class="text-center">
					@if (item.Status == RecordStatusEnum.Active)
					{

						<i class="bi bi-eye-fill fa-2x" ></i>

					}
					else
					{

						<i class="bi bi-eye-slash-fill fa-2x"></i>

					}
				</td>
				<td class="text-center">
					<a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-success"
					   data-bs-toggle="tooltip" data-bs-placement="left" title="Edit Record">
						<i class="bi bi-pencil-square"></i>
					</a>
					<a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn btn-primary"
					   data-bs-toggle="tooltip" data-bs-placement="top" title="Record Details">
						<i class="bi bi-info-square"></i>
					</a>
					<a asp-action="Manage" asp-route-id="@item.DepartmentId" class="btn btn-warning"
					   data-bs-toggle="tooltip" data-bs-placement="bottom" title="Manage Status">
						<i class="bi bi-gear"></i>
					</a>
					<a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger"
					   data-bs-toggle="tooltip" data-bs-placement="right" title="Delete Record">
						<i class="bi bi-trash"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
